.App {
	margin: 0 auto;
	font-family: 'Inter';
}

nav {
	display: flex;
	justify-content: center;
    align-items: center;
	height: 55px;
	background-color: #F55A5A;
	margin: 0 0 45px 0;
}

nav img {
	width: 24px;
	height: 24px;
	margin: 0 7px;
}

nav div {
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: -0.075em;
}

section {
	margin: 20px 40px;
	padding: 0 0 20px 0;
	display: flex;
	border-bottom: 1px solid #F5F5F5;
}

.card-content {
	margin: 0 0 0 20px
}

.card-country {
	display: inline-block;
	margin: 0 12px 0 0;
	font-size: 10px;
	letter-spacing: 0.17em;
}

.card-geoLoc {
	font-size: 10px;
	color: #918E9B;
}

.card-location {
	font-size: 25px;
	margin: 0 0 10px 0;
}

.card-dateVisited {
	font-weight: 700;
	font-size: 10px;
}

.card-description {
	margin: 10px 0 0 0;
	font-size: 10px;
}